.jdv-header {
  margin-top:100px;
  text-align: center;
}

.jdv-header-title {
  margin:0;
  font-size:26px;
  font-weight: normal;
  letter-spacing: 4px;
}

.jdv-header-stripe {
  display: inline-block;
  width:100px;
  height:0;
  border-bottom:3px solid white;
}

@media (min-width:480px) {
  .jdv-header-title {
    font-size:40px;
  }
}

@media (min-height:500px) {
  .jdv-header {
    margin-top:150px;
  }
}