.jdv-wrapper {
  margin-top:100px;
  text-align: center;
}

.jdv-wrapper p {
  letter-spacing: 2px;
  font-size:12px;
}

@media (min-width:480px) {
  .jdv-wrapper p {
    font-size:16px;
  }
}

@media (min-height:500px) {
  .jdv-wrapper {
    margin-top:150px;
  }
}